name : build and integrate to dockerhub
on : 
  push: 
    branches : [main]
  workflow_dispatch: 
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name : checkout respository
        uses : actions/checkout@v3
      - name : build docker image
        run: docker build -t sitraka001/my_python_web_app-web:latest .
      - name : login to dockerhub
        uses : docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name : push image to dockerhub
        run: docker push sitraka001/my_python_web_app-web